 .navbar-default .navbar-nav >li>a
{
	padding-left:80px !important;
	color:#1e3860;
	font-size:20px;
    margin-top:17px;
}
.nav1	{
	color:white !important;
	font-size:20px;
	font-weight:bold;
}		
 .navigationbars{
	background-color: #1e3860;
	}
 
  .gly{
	  font-size:10px;
  }
.login{
	font-size:20px;
    margin-top:20px;
	padding-left:20px;
	background-color: #2f5b88;
	color:white;
}
.rights{
	margin-right:20px;
}
.intro{
	font-size:20px;
	color:#13818b;
	font-weight:bold;
}
.intro1{
	color:#1e3860;
    font-size:40px;
}
.intro2{
	font-size:18px;
}
.intro3{
	border-radius:20px;
	padding:20px;
	font-size:20px;
	font-weight:bold;
    margin-top:20px;
	padding:20px;
	width:300px;
	background-color: #2f5b88;
	color:white;
	letter-spacing:2px;
}
.ratings{
	background-color:#333d46;
	color:white;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}
.border{
	border-right:1px solid white ;
}
.icons{
	padding-top:20px;
	padding-bottom:10px;
}
.rat{
   border-left:1px solid grey ;
  padding-bottom:10px;
   }
.rats{
	 text-decoration-line:underline;
	 font-size: 16px;
    line-height: 1.3;
	color: #333d46;
}
.two{
	background-color:#f4f4f4;
	padding-top:20px;
	padding-bottom:10px;
	border-radius:20px;
}
.loan1{
    color:#1e3860;
	font-size:23px;
	font-weight:bold;
}
.loan2{
	font-size:16px;
}
.loan3{
    color:#1e3860;
	font-size:16px;
}
.appimg{
	padding-top:30px;
	color:white;
	font-weight:bold;
}
.app1{
	color:#faa74a;
	font-size:30px;
	font-weight:bold;
}
.app2{
	font-size:17px;	
}

.flex{
	border-radius:25px;
	background-color:#1e3860;
}
.secure1{
	color:#1e3860;
	font-size:30px;
	font-weight:bold;
}
.secure2{
	margin-top:20px;
}
.find{
	font-size:20px;
    margin-top:20px;
	padding:20px;
	width:300px;
	background-color: #2f5b88;
	color:white;
	letter-spacing:2px;
	border-radius:20px;
	font-weight:bold;
}
.box{
	background-color:white;
	padding:30px;
}
.box1{
	font-size:16px;
	color:#2f5b88;
	margin-top:30px;
}
.box2{
	color: #2f5b88;
	font-size:30px;
}
.indicat{
	color: #2f5b88;
}
.deposit{
	background-color:#1e3860;
	color:white;
	letter-spacing:2px;
}
.learn{
	color:#faa74a;
	font-size:16px;
	font-weight:bold;
}
.heading{
	color:#1e3860;
    font-size:40px;
	text-align :center;
}
.para{
	word-spacing:2px;
	line-spacing:3px;
	margin-top:20px;
}
.learnmore{
	color:#1e3860;
	font-size:16px;
	
}
.icon{
	border:1px solid #dedede;
	border-radius:30px;
	
	padding:17px 30px 30px 20px;
}
.b{
	background-color:#d4d4d4;
	color:#2f5b88;
	font-size:14px;
	border-radius:10px;
    padding:20px 40px 20px 20px;
	font-weight:bold;
}
.headertop{
	border-bottom:1px solid #dedede;
	padding-bottom:10px;
	color:#1e3860;
	font-size:40px;
}
.header{
	color:#1e3860;
	font-size:20px;
}
.footer{
	color: #fff;
    background-color: #14263d;
    padding: 32px 0;
    width: 100%;
	font-size:16px;
}
.bank, .borrow, .invest, .plan{
	background-color: #1e3860;
	color:white;			
	padding-bottom:	40px;
	padding-top:15px;
 	border-radius:20px;
}	
.heading1{
    font-weight:bold;
	font-size:23px;
	color:white;
}
.help{
	color: #1e3860;
	font-size:14px;
	font-weight:bold;
	margin-right:30px;
}
.header1{
	color: #1e3860;
    font-size:24px;
}		
.header{
	font-size:18px;
	font-weight:bold;
}
.paragragh{
   font-size:18px;
}
.learnmore1, .quote, .app{
	color:	#2f5b88;	
	font-size:16px;
	font-weight:bold;
}
.list{
   margin-top:10px;
   font-size: 16px;
   line-height: 1.6;
   margin-left:10px;	
   color:	black;		
}

  
  
  
  
 